
.container {
    margin: 100px auto; 
    width: 900px;
    background-color: antiquewhite;
  }
.container > h2 {
    font-size: 25px;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .main_itembox {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px;
  }

  .main_itembox img {
    width: 500px;
    height: auto;
  }

.container .main_itembox h4 {
    text-align: center;
}

.main_itembox p {
    text-align: center;
    margin-top: 10px;
  }

.container .main_itembox .main_textbox {
  display: none;
}




