.wkndrs-wrap {
  display: flex;
  max-width: 1904px;
  margin: 0 auto;
  gap: 10px;
  align-items: stretch; 
  padding-bottom: 60px;
  padding-left: 3px;
  }
  
  /*왼쪽이미지*/
  .wkndrs-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .wkndrs-header {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .wkndrs-header strong {
    display: block;
    font-size: 20px;
    font-weight: bold;

  }

  .grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    height: 950px;
  }
  
  .item-box {
    width: 466px;
    background-color: #fff;
    border: 1px solid #eee;
    text-align: center;
  }
  
  .wkndrs-left .grid-4 .item-box img {
    width: 420px;
    height: 340px; 
    object-fit: cover;
  }
  

  .text-wrap h5 {
    font-size: 16px;     
    font-weight: bold; 
  }
  
  .text-wrap p {
    font-size: 14px;   
    color: #222;
  }
  
  .price-wrap .price {
    font-size: 17px;
    color: black;
  }
  

  
  /* 오른쪽 큰 이미지 */
  .wkndrs-right {
    width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 940px;
    margin-left: 5px;
  }
  
  .wkndrs-right img {
    width: 100%;
    height: 940px;
    margin-top: 50px;
  }




